/* style.less

Project: Pokemon API Vue
Programmer: Jared Martinez
Date: 9/1/2018

*/

@import 'palette.less';
@import 'mixins.less';

/* mobile styles */

body{}

header{}

nav{}

main{}

footer{}

/* Tablet Styles */
@media only screen and (min-width: 481px){}

/* Desktop Styles */
@media only screen and (min-width: 1025px) {}